* {
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #B7E0FF;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
}

.container {
    width: 500px;
    height: auto;
    margin: auto;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    transition-property: transform, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.container:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
}

.search-box {
    text-align: center;    
    margin-bottom: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: #FCFCFC;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    font-size: 16px;
    transition: border 0.2s;
}

input[type="text"]:focus{
    outline: none;
    border: 1.5px solid #FB6D00;
}

.s-button {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 15px;
    box-sizing: border-box;
    color: white;
    background-color: #FF903A;
    border: 1.5px solid #FF903A;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition-property: background-color, color, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: initial;
    background-position: 0 0;
    color: #FF903A;
    cursor: pointer;
}

button:active {
    background-color: #FF903A;
    color: white;
    opacity: 0.5;
}

button:focus {
    outline: 1.5px solid #FB6D00;
}

.hold-info {
    display: grid;
    grid-template-columns: 2;
    gap: 10px;
    background-color: rgb(191, 184, 255, 0.2);
    border-radius: 15px;
    padding: 10px;
    border: 1.5px solid transparent;
    transition-property: border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.hold-info:hover {
    border: 1.5px solid rgb(191, 184, 255, 0.5);
}

.city-title {
    grid-column: 1 / span 2; 
    text-align: center; 
}

.left-info,
.right-info {
    text-align: center;
}

.attribution {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Slightly transparent background */
    padding: 0 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #333;
}

.attribution a {
    color: #0073e6;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}